---
layout: default
robots: 'noindex, follow'
---

{% assign tag_data = site.data.tags | where:"slug", page.title %}
{% assign tag = tag_data | first %}

{% assign category_data = site.data.categories | where:"slug", page.title %}
{% assign category = category_data | first %}

<div class="breadcrumb">
    <a href="/">Home</a>
    {% if page.type == 'tag' %}
        <a href="/tag/">Tags</a>
        {% if tag %}
        <a href="{{ page.url }}">{{ tag.title | improve }}</a>
        {% else %}
        <a href="{{ page.url }}">{{ page.title | improve }}</a>
        {% endif %}
    {% endif %}
    
    {% if page.type == 'category' %}
        {% if category.short %}
            <a href="{{ page.url }}">{{ category.short | improve }}</a>
        {% else %}
            <a href="{{ page.url }}">{{ category.title | improve }}</a>
        {% endif %}
    {% endif %}
</div>

<article class="type-page">
    <header>
        {% if page.type == 'tag' %}
            <h1><strong>{{ tag.title | improve }}</strong></h1>
            
            {% if page.subtitle %}
                <h2>{{ page.subtitle | improve }}</h2>
            {% endif %}
        {% endif %}
        
        {% if page.type == 'category' %}
            <h1>{{ category.title | improve }}</h1>
            
            {% if category.subtitle %}
                <h2>{{ category.subtitle | improve }}</h2>
            {% endif %}
        {% endif %}
    </header>
    
    <section class="content">
        <div class="cards">
            {% for post in page.posts %}
            <div class="card">
                <a href="{{ post.url }}">
                    <div class="card-image">
                        <img src="{% asset_path beaker.svg %}" alt="Bearker">
                    </div>
                    <div class="card-header">
                        {{ post.date | date: "%-d %b, %Y" }}
                    </div>
                    
                    <div class="card-copy">
                        <strong>{{ post.title }}</strong>
                        {% if post.tease %} | {{ post.tease }}{% endif %}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
</article>
