---
layout: default
---

{% assign category_data = site.data.categories | where:"slug", page.type %}
{% assign category = category_data | first %}

{% assign post_list = site.categories[page.type] %}

<div class="breadcrumb">
    <a href="/">Home</a>
    {% if category.short %}
    <a href="{{ page.url }}">{{ category.short }}</a>
    {% else %}
    <a href="{{ page.url }}">{{ category.title }}</a>
    {% endif %}
</div>

<article class="type-page">
    <header>
        <h1>{{ category.title }}</h1>
        
        {% if category.subtitle %}
        <h2>{{ category.subtitle }}</h2>
        {% endif %}
        
        {% unless page.content == '' %}
        <div class="lead">
            {{ content }}
        </div>
        {% endunless %}
    </header>
    
    <section class="content">
        {% include post_list.html posts=post_list %}
    </section>
</article>
