<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        
        {% if page.tease %}
        <meta name="description" content="{{ page.tease }}">
        {% else %}
        <meta name="description" content="{{ site.description }}">
        {% endif %}
        
        {% if page.robots %}
        <meta name="robots" content="{{ page.robots }}">
        {% else %}
        <meta name="robots" content="index, follow">
        {% endif %}
        
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        
        <!--
            TODO Add .onion address here.
            <link rel="onion" href="http://TODO.onion/">
        -->
        
        <link rel="logomark" type="image/svg+xml" href="{% asset_path logomark.svg %}">
        <link rel="logo" type="image/svg+xml" href="{% asset_path logotype.svg %}">
        
        <link rel="stylesheet" href="{{ site.baseurl }}{% asset_path application.css %}">
        
        {% include head_favicons.html %}
        
        <link rel="alternate" type="application/atom+xml" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.title }} | Feed">
        
        {% include head_twitter.html %}
        
        {% include head_facebook.html %}
        
        {% include head_schema.html %}
    </head>
    <body>
        {% include header.html %}
        
        <div class="main">
            <div class="wrapper">
                <div class="page">
                    {{ content }}
                </div>
            </div>
        </div>
        
        {% include footer.html %}
        
        <script type="text/javascript">
            window.MylesLabPageDetails = {
                {% if page.title %}title: {{ page.title | jsonify }},{% endif %}
                {% if page.date %}date: {{ page.date | jsonify }},{% endif %}
                {% if page.tags %}tags: {{ page.tags | jsonify }},{% endif %}
                {% if page.category %}
                {% assign category_data = site.data.categories | where:"slug", page.category %}
                category: {{ category_data | jsonify }},
                {% endif %}
                url: "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
            }
        </script>
        
        <script type="text/javascript" src="{{ site.baseurl }}{% asset_path application.js %}"></script>
    </body>
</html>