---
layout: post_base
type: web
---

<section class="content">
    {{ content }}
</section>

{% if page.demo %}
<section class="results">
    <a class="demo-link" href="{% upload_path {{ page.demo }} %}" title="{{ page.title }} Demo">Demo <em>(Open in New Window)</em>.</a>
    
    <div class="wrapper">
        <iframe id="results_iframe" src="{% upload_path {{ page.demo }} %}" frameborder="0" allowfullscreen scrolling="no"></iframe>
    </div>
</section>
{% endif %}

{% if page.results %}
<section class="results">
    <a class="demo-link" href="{{ page.results | prepend: site.weblab_url }}" title="{{ page.title }} Demo">Demo <em>(Open in New Window)</em>.</a>
    
    <div class="wrapper">
        <iframe id="results_iframe" src="{{ page.results | prepend: site.weblab_url }}" frameborder="0" allowfullscreen scrolling="no"></iframe>
    </div>
</section>
{% endif %}

{% if page.codepen %}
<section class="results-codepen">
    <iframe src="//codepen.io/{{ site.codepen_username }}/embed/{{ page.codepen }}?height=500{% if page.codepen_defaulttab %}&default-tab={{ page.codepen_defaulttab }}{% endif %}" height="500" frameborder="0" alllowtransparency="true" allowfullscreen="true"></iframe>
</section>
{% endif %}
