
        {% if page.title %}
        <meta property="og:title" content="{{ page.title }}">
        {% else %}
        <meta property="og:title" content="{{ site.title }}">
        {% endif %}
        
        <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}?utm_source=opengraph&utm_medium=social&utm_campaign=head">
        
        <meta property="og:type" content="website">
        
        {% if page.tease %}
        <meta property="og:description" content="{{ page.tease }}">
        {% else %}
        <meta property="og:description" content="{{ site.description }}">
        {% endif %}
