
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@MylesLab">
        <meta name="twitter:creator" content="@MylesB">
        {% if page.title %}
        <meta name="twitter:title" content="{{ page.title }}">
        {% else %}
        <meta name="twitter:title" content="{{ site.title }}">
        {% endif %}
        
        {% if page.url %}
        <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}?utm_source=twitter&utm_medium=social&utm_campaign=head">
        {% endif %}
        
        {% if page.tease %}
        <meta name="twitter:description" content="{{ page.tease }}">
        {% else %}
        <meta name="twitter:description" content="{{ site.description }}">
        {% endif %}
