<header class="masthead" role="banner">
    <div class="wrapper">
        <a href="/" class="logo" title="{{ site.description | improve }}">
            <img class="iconic" data-src="{% asset_path beaker.svg %}" data-fallback="{% asset_path beaker.60x60.png %}" alt="{{ site.title | improve }}">
        </a>
        
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
        
        <nav role="navigation">
            <ul id="js-navigation-menu" class="navigation-menu show">
                <li class="nav-link site-title">
                    <a href="/" title="{{ site.description | improve }}">
                        {{ site.title | improve }}
                    </a>
                </li>
                {% assign categories = site.data.categories | sort: 'weight', 'last' %}
                {% for category in categories %}
                {% if category.feature %}
                <li class="nav-link {{ category.slug }}">
                    <a href="/{{ category.slug }}/" {% if category.short %}title="{{ category.title }}"{% endif %}>
                        {% if category.short %}
                        {{ category.short | improve }}
                        {% else %}
                        {{ category.title | improve }}
                        {% endif %}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        
        <div class="elsewhere">
            <ul id="js-elsewhere-menu" class="elsewhere-menu show">
                {% for link in site.data.masthead-links.elsewhere %}
                <li class="nav-link {{ list.slug }}"><a href="{{ link.url }}" rel="me">{{ link.name | improve }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>