body {
	background-color: $base-background-color;
}

.main {
	background-color: $main-background-color;
}

.iconic-beaker {
	.iconic-beaker-glass {
		fill: $beaker-color-glass;
		stroke: $beaker-color-glass;
	}
	
	.iconic-beaker-measure-line {
	  fill: $beaker-color-measure-line;
	  stroke: $beaker-color-measure-line;
	}

	.iconic-beaker-fluid {
	  fill: $beaker-color-fluid;
	  stroke: $beaker-color-fluid;
	}

	.iconic-beaker-fluid-bubble {
	  fill: $beaker-color-bubble;
	  stroke: $beaker-color-bubble;
	}
}

.iconic-heart * {
  fill: $heart-color;
	stroke: $heart-color;
}
