$medium-screen-up: new-breakpoint(min-width $medium-screen 8);
$large-screen-up: new-breakpoint(min-width $large-screen 12);

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.main {
	min-height: 90%;
	height: auto !important;
	
	.wrapper {
		@include outer-container;
		
		.page {
			@include margin(null 1em);
			@include padding(1em null);
		}
	}
}

@include media($large-screen-up) {
	.main {
		.wrapper {
			@include padding(1.5em null);
		
			.page {
				@include span-columns(10);
				@include shift(1);
			}
		}
	}
}