// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$font-stack-system: "Proxima Nova", $helvetica;
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$action-color: $blue;
$base-background-color: $dark-gray;
$main-background-color: #fff;

// ####################################
// Beaker
// ####################################
$beaker-color-measure-line: #b3b3b3;
$beaker-color-glass: #b3b3b3;
$beaker-color-fluid: #1B75BB;
$beaker-color-bubble: #2990e0;

$heart-color: #da3a35;

// ####################################
// Masthead
// ####################################
$masthead-background: $dark-gray;
$masthead-padding: 1em;
$masthead-height: 60px;
$masthead-color: transparentize(white, 0.3);
$masthead-color-hover: white;
$masthead-active-link-color: transparentize(white, 0.5);

// ####################################
// Imprint
// ####################################
// $imprint-background: desaturate(darken($action-color, 20%), 30%);
$imprint-background: $dark-gray;
$imprint-color: #fff;
$imprint-link-color: transparentize($imprint-color, 0.6);
$imprint-disclaimer-color: transparentize($imprint-color, 0.6);

// ####################################
// Breadcrumb
// ####################################
$breadcrumb-border-color: $light-gray;
$breadcrumb-border: 1px solid $breadcrumb-border-color;
$breadcrumb-height: $base-spacing * 1.5;
$breadcrumb-arrow-color: $breadcrumb-border-color;
$breadcrumb-background: #FFF;
$breadcrumb-inactive-hover-color: $breadcrumb-background;
$breadcrumb-color: $medium-gray;
$breadcrumb-color-hover: $action-color;
$breadcrumb-color-active: $breadcrumb-color;
