article.type-web {
  .content {
    margin-bottom: 1em;
  }
	
  .results {
		.demo-link {
			display: block;
			width: 100%;
			color: #fff;
			padding: .5em 0 .5em 1em;
			border-top-left-radius: 1em;
			background-color: $action-color;
		}
		
		.wrapper {
	  	height: 80vh;
			overflow: hidden;
			padding-bottom: 56.25%;
			position: relative;
			
			border: 1px solid $action-color;
			background-color: lighten($dark-gray, 80%);
			
			iframe {
				@include position(absolute, 0px null null 0px);
				
				overflow: hidden;
				
				width: 100%;
				height: 100%;
			}
			
			.overlay:focus {
				outline: none;
			}
		}
  }
}